.exVideoDiv {
    width: 500px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1428;
}

.exVideoPlayer {
    width: 100%;
    height: 100%;
    cursor: move;
}

.exVideoScale {
    width: 10px;
    height: 10px;
    overflow: hidden;
    cursor: se-resize;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(231, 57, 57);
}

.exVideoInfo {
    width: 100%;
    height: 30px;
    background-color: gray;
    position: absolute;
    top: -30px;
    line-height: 30px;
}

.exVideoClose {
    width: 30px;
    float: right;
    color: white;
}

.exVideoQn, .exVideoCDN {
    margin-left: 5px;
}

.exVideoRID {
    margin: 0px 5px;
    font-weight: 800;
    font-size: medium;
}

#popup-player__prompt {
    display: none;
}

.postbird-box-header {
    width: auto !important;
}

.postbird-box-dialog {
    color: #333;
}