.bag-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 20px;
    font-weight: 800;
    height: 20px;
    text-align: center;
}

.bag-button {
    color: rgb(255, 255, 255);
    text-align: center;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    margin-left: 5px;
    background: rgb(70, 171, 255);
    border-radius: 9px;
    padding: 0px 10px;
    right: 20px;
}