.point__panel {
    position: absolute;
    left: 0px;
    bottom: 37px;
    display: none;
    animation: move-in 0.75s;
    z-index: 101;
}
@keyframes move-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.95;
    }
}

.panel__wrap {
    overflow: hidden;
    background-color: white;
    border-radius: 5%;
    width: 120px;
    box-shadow: 0px 2px 20px 0px #888888;
    font-size: 14px;
}

.panel__cell {
    width: 100%;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid rgba(121,127,137,0.4);
    text-align: center;
    cursor: pointer;
}

.panel__cell:hover {
    background-color: rgb(217, 217, 217);
    transition: 0.75s;
}

.panel__triangle {
    width: 0px;
    height: 0px;
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    left: 35px;
}