.text-879f3e {
  height: auto !important;
  max-height: 64px !important;
}

.ex-image-danmaku {
  height: 64px;
  border-radius: 5px;
  margin: 0 4px;
}

.danmuContent-25f266 .ex-image-danmaku {
  max-height: 32px;
}