.text-879f3e {
  height: auto !important;
  max-height: 54px !important;
}

.ex-image-danmaku {
  height: 54px;
  border-radius: 6px;
  margin: 0 4px;
}

.danmuContent-25f266 .ex-image-danmaku {
  max-height: 32px;
}