.vote__panel {
    width: 100%;
    display: none;
    margin-top: 4px;
}
#vote__title {
    cursor: pointer;
    user-select: none;
    color: royalblue;
}
#vote__select {
    width: 100px;
}

.vote__option {
    margin-top: 5px;
}

#vote__theme {
    width: 70px;
}

#vote__options {
    width: 133px;
}

#vote__time {
    width: 35px;
}

#vote__show-result {
    cursor: pointer;
    color: royalblue;
    margin-left: 10px;
}

.vote__result {
    position: absolute;
    top: 0px;
    width: 300px;
    background: rgba(255,255,255,0.85);
    left: 0px;
    z-index: 999;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    display: none;
    color: #333;
}

#vote__result-theme {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
#vote__result-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: gray;
}

.vote__option-wrap {
    margin-bottom: 10px;
}

.vote__option-choice {
    display: inline-block;
    font-size: 14px;
}

.vote__option-num {
    float: right;
    font-size: 14px;
}

.vote__progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}

.vote__progress-bar {
    width: 0%;
    height: 14px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
}

