
#ex-cinema:hover > .cinema__wrap {
    display: block;
}

.cinema__wrap {
    display: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e5e5e5;
    background: #fff;
    position: absolute;
    left: 199px;
    min-width: 100px;
    top: 130px;
}


.cinema__panel {
    position: absolute;
    border: 1px solid #000;
    border-radius: 4px;
    transform: translateY(calc(-4px - 100%)) translateX(-50%);
    left: 33%;
    background-color: #000;
    opacity: .75;
    width: 70px;
}

.cinema__panel li {
    padding: 0 2px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.cinema__panel li:hover {
    background-color: rgb(85, 85, 85);
}  