.livetool {
	width: 500px;
}

.livetool__cell {
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 24px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.livetool__cell_title {
	flex: 1;
    -webkit-box-flex: 1;
    display: flex;
    align-items: center;
}

.livetool__cell_option {
	text-align: right;
    display: flex; 
    align-items: center;
}

.livetool__cell_switch {
	float: right;
}