.ex-panel {
	position: absolute;
	bottom: 32px;
	right: 0px;
	background-color: rgba(255,255,255,0.9);
	border: 2px rgb(234,173,26) solid;
	z-index: 1428;
	user-select: none;
	display: none;
}
.ex-panel__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.ex-panel__icon {
	margin: 0 10px;
	display: block;
	position: relative;
	padding: 5px;
	transition: 0.5s;
}
.ex-panel__icon:hover {
	transform: scale(1.15);
}
.ex-panel__tip {
	display:none;
	background:#f00;
	border-radius:50%;
	width:8px;
	height:8px;
	top:0px;
	right:0px;
	position:absolute;
}

/* 新版斗鱼右侧弹幕Panel的bottom */
.live-next-body .layout-Player-chat>* {
	bottom: 0 !important;
}