.repeated-danmaku {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.danmu-fbb2a3 > div {
  transition: font-size 0.5s ease !important;
}

.comment-dzjy-container > div {
  z-index: 99 !important;
}