.reply__panel {
    width: 100%;
    display: none;
    margin-top: 4px;
}
#reply__title {
    cursor: pointer;
    user-select: none;
    color: royalblue;
}
#reply__select {
    /* width: 190px; */
    width: 100px;
}

#reply__time {
    width: 35px;
}

.reply__option {
    margin-top: 5px;
}

#reply__word {
    width: 70px;
}

#reply__reply {
    width: 147px;
}

#reply__export {
    cursor: pointer;
    color: royalblue;
    margin-left: 10px;
}

#reply__import {
    cursor: pointer;
    color: royalblue;
    margin-left: 5px;
}