.bloop {
	background-color: rgba(255,255,255,0.9);
	width: calc(100% - 20px);
	height: 290px;
	position: relative;
	bottom: 310px;
	display: none;
	z-index: 1015;
	padding: 10px;
}

#bloop__textarea{
	width: calc(100% - 40px) !important;
	height: 60px !important;
}

.bloop__switch {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
}

.bloop__mode {
	display: inline-block;
}

#bloop__select {
	width: 150px;
}


.bloop .ex-input{
    padding: 0 !important;
}

#bloop__select{
    padding: 0 8px !important;
}

.bloop .ex-btn{
    padding: 1px 8px !important;
}