.bloop {
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	height: 200px;
	position: relative;
	bottom: 200px;
	display: none;
	z-index: 1428;
	color: #333;
}

.bloop__switch {
	position: absolute;
	right: 0;
	bottom: 0;
}

.bloop__mode {
	display: inline-block;
}

#bloop__select {
	width: 150px;
}