.miniprogram__panel {
    position: absolute;
    right: 43px;
    bottom: 100px;
    animation: move-in 0.75s;
    z-index: 101;
    text-align: center;
    display: none;
}
.miniprogram__wrap {
    overflow: hidden;
    background-color: white;
    border-radius: 5%;
    width: 200px;
    box-shadow: 0px 2px 20px 0px #888888;
    font-size: 14px;
}

.miniprogram__triangle {
    width: 0px;
    height: 0px;
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    left: 100px;
}