#ex-joysound {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    background-size: contain;
    pointer-events: all;
}
#ex-joysound img {
    width: 24px;
    height: 24px;
}