#copy-real-live {
    cursor: pointer;
    margin-left: 4px;
}
.Title-row-span, .Title-row-icon  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title-row-icon {
    margin-right: 4px;
}