.gift__panel {
    width: 100%;
    display: none;
    margin-top: 4px;
}
#gift__title {
    cursor: pointer;
    user-select: none;
    color: royalblue;
}
#gift__select {
    width: 113px;
}

.gift__option {
    margin-top: 5px;
}

#gift__giftId {
    width: 40px;
}

#gift__export {
    margin: 0 10px 0 auto ;
}

#gift__import {
    margin-right: 10px;
}