/* #refresh-video {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    background-size: contain;
} */

#refresh-video2 {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#refresh-video2-svg {
    fill: rgba(0,0,0,.6)
}

.refresh-barrage {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
    padding: 0 8px;
    height: 22px;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #e5e4e4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.live-next-body .refresh-barrage {
    background-color: var(--front-background-color);
    border: 1px solid var(--front-border-color);
}

#refresh-barrage__svg {
    vertical-align: middle;
}

.top-0-important {
    top: 0 !important;
}