.mute__panel {
    width: 100%;
    display: none;
    margin-top: 4px;
}
#mute__title {
    cursor: pointer;
    user-select: none;
    color: royalblue;
}
#mute__idlist {
    cursor: pointer;
    color: royalblue;
    margin-left: 10px;
}
#mute__export, #mute__import {
    cursor: pointer;
    color: royalblue;
    margin-left: 5px;
}
#mute__select {
    width: 110px;
}

.mute__option {
    margin-top: 5px;
}

#mute__word {
    width: 70px;
}

#mute__count {
    width: 30px;
}

#mute__time {
    width: 65px;
}