.mute__panel {
    width: 100%;
    display: none;
    margin-top: 4px;
}
#mute__title {
    cursor: pointer;
    user-select: none;
    color: royalblue;
}
#mute__idlist {
    margin: 0 10px 0 auto ;
}
#mute__export, #mute__import {
    margin-right: 10px;
}
#mute__select {
    width: 110px;
}

.mute__option {
    margin-top: 5px;
}