.extool {
	width: 600px;
}

.extool__switch {
	position: absolute;
	right: 0;
	bottom: 0;
}
.extool__bsize,.extool__sendgift {
	margin-bottom: 5px;
}
.extool__redpacket_room,.extool__gold,.extool__autofish {
	display: block;
}
.ex_giftAnimation {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 50;
	pointer-events: none;
}